@import "../../constants/constants.scss";

.input {
  color: $font-color;
  display: block;
  font-size: medium;
  padding: 3px;
  width: 100%;
  border: 1px solid $main;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  &:focus {
    outline: none !important;
    border: 2px solid $main-dark;
  }
}
