@import "../../constants/constants.scss";

.wrapper {
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main {
  position: relative;
  max-width: 70vw;
  margin: 0 auto;
  color: $font-color;
}

.footer {
  margin-top: auto;
}
